*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titi
{
    display: flex;  
    width: 100%; 
    height: 65px;
    box-shadow: 2px 10px rgb(226, 225, 225);
    
}
.title
{
    margin:  1%  7%;
}
.search
{
   
    border: none;
    width: 100%;
    max-width: 200px;
    padding: 0.5rem 1rem;
    display: flex;
    border-radius: 2rem;
    transition: 0.3s;
}
.search span{
    font-size: 1.5rem;
    color: var(--primary-color);
}
#sear
{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}
.ri-search-line
{
    background-color: rgb(36, 32, 59);
    color: aliceblue;
    margin-top: 2px;
    padding: 2px 15px 15px;
    justify-content: center;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
}
.int
{
    border: none;
    height: 30px;
    padding: 5px 15px ;
    background-color: rgb(213, 213, 213);
}
.pro
{
  justify-content: end
}
.noti
{
    margin: 0.5% 29% 10px ;
    border: none;
}
.material-icons
{
    border: 0px;
    border: none;
    height: 30px;
    width: 30px;

}
.id
{
    font-size: 12px;
}
.asideleft
{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 1150px;
    
    float: left;
    margin-top: 1%;
    background-color: #ffffff;
}
.content
{
    padding-top: 10%;
    padding-left: 50px;
    font-size: 20px;
    
}
.mainmenu1
{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}
.mainmenu2
{
    margin-top: 70px;
    padding-left: 50px;
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}
.conte
{
    padding-top: 7%;
    font-size: 20px;
    padding-left: 50px;
}
.asideright
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    width: 10.5%;
    padding-left: 30px;
    height: 1150px;
    float: right;
    margin-top: 1%;
    background-color: #ffffff;
}
.dollar, .euro ,.pound
{
    display: flex;
    gap: 20px;
}
#dol, #eur, #pou
{
    margin-top: 5px;
    font-size: 60px;
}
.money
{
    gap: 0px;
}
.dollar
{
    margin-top: 15%;
}
.acbal
{
    color: #376575;
    text-align: start;
    padding-left: 10px;
    margin-top: 20%;
    justify-content: center;
}
.last
{
    font-size: 10px;
    display: flex;
    gap: 80px;
    margin-top: 50.5rem;
    color: grey;
}

.dash
{
    margin-top: 2.5%;
    padding-left: 50%;
    color: #376575;
}
.board
{
    display: flex;
    gap: 75%;
    margin-top: 2.5%;
}
.print
{
    margin-top: 1%;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    color: gray;  
}

.card
{
    margin-top: 2%;
    margin-left: 18%;
    background-color:#302f41 ;
    color: white;
    height: 230px;
    font-size: 16px;
    width: 63%;
    display: block;
    border-radius: 20px;
    padding: 20px 0px 0px 30px;
}
.cross
{
    display: flex;
    gap: 50rem;
    font-size: 16.5px;
}
.grandpa
{
    position: absolute;
    top: 12%;
    right: 30%;
    rotate: -2deg;
    height: 43.4%;
}
.headi
{
    font-weight: bolder;
}
.learnmore
{
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 13px;
    border-radius: 5px;
}
.abbycooper
{
    background-color: #ffffff;
    margin-left: 3%;
    width: 40%;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
}
.details1
{
    display: flex;
    font-size: 20px;
    gap: 40px;
}
.bioans
{
    color: gray;
}
.add
{
    color: gray;
    font-size: 16px;
}
.address
{
    font-size: 20px;
    display: flex;
    gap: 16% ;
    margin-top: 9%;
    margin-left: 9%;
}
.userprofile
{
    color:#376575;
    margin-left:4%;
}
.three
{
    display: flex;
    gap: 5%;
    margin-top: 1%;
    
}
.two
{
    display: block;
  
    
}
.twoname
{
    font-weight: bold;
}
.arlene
{
    background-color: #ffffff;
    height: 150px;
    display: flex;
    width: 29rem;
    gap: 15%;
    border-radius: 20px;
    padding: 10px 20px 0px 0px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.natasha
{ 
    margin-top: 2%;
    height: 150px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    padding: 10px 20px 0px 0px;
    gap: 14%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.topic
{
    display: flex;
    gap: 40%;
    margin-top: 2%;
}
.nexttopic
{
    margin-top: 2%;
    display: flex;
    color:#436f7e;
    gap :60px;
    font-size: 18px;
    width: 68%;
    margin-left: 16%;
}
.nexttopic1
{
    
    gap: 40%;
    width: 50%;
    justify-content: space-around;
    display: flex;
    
}
.nexttopic2
{
    gap:60%;
    justify-content: space-around;
    width: 48% ;
    display: flex;
}
.table1
{
    display: block;
    background-color: #ffffff;
    height: 150px;
    margin-top: 2%;
    gap: 7%;
    border-radius: 7px;
    padding: 18px 30px 18px 25px;
    margin-left: 4%;

    width: 40%;
}
.chhead
{
    display: flex;
    gap: 13%;
    margin-bottom: 20px;
}
.ch1, .ch2, .ch3, .ch4
{
    display: flex;
   font-size: 10px;
    column-gap: 13%;
    color: gray;
    padding: 5px;
    margin-top: 10px;
   
}
.ch1:hover
{
    background-color: aquamarine;
}
.tab2
{
    display: flex;
    gap: 5%;
    background-color: #f9f9f9;
    height: 280px;
}
.dh1, .dh2, .dh3, .dh4
{
    display: flex;
   font-size: 12px;
    column-gap: 13%;
    color: gray;
    padding: 5px;
    margin-top: 10px;
}
.table2
{
    display: block;
    background-color:#ffffff;
    height: 180px;
    margin-top: 2%;
    border-radius: 7px;
    padding: 10px 0px 0px 25px;
    gap: 7%;
    width: 39%;
}
.dhead
{
    display: flex;
    gap: 13%;
    margin-bottom: 20px;
}
.download
{
    margin-left: 6%;
}
main
{
    background-color:#f9f9f9;
    
}
